# Bytecode and pytest cache
.pytest_cache/
__pycache__/
*.py[cod]

# Logs and archives
logs/
archive/

# Environments and configs
myenv/
config/.env

# IDE specific files
.vscode/

# Reports
report/
*.html
*.json
.coverage

# General system files
*.log


